<form action="{% url 'create' %}">

    <p>디자이너 생성 페이지</p>

    <!--파일 첨부 -->
    <input type="file" name='image' placeholder="사진 첨부"><br>
    <!-- Email -->
    <input type="name" name ='name' placeholder="name"><br>

    <!-- Password -->
    <input type="adress" name ='adress' placeholder="adress"><br>

    <input type="text" name='discription' placeholder="설명">
    <div>
    <br>
         <button class="btn btn-info btn-block my-4" type="submit">Create</button>
       
    </div>

 
</form>
